apiVersion: apps/v1
kind: Deployment
metadata:
  name: main-api
  namespace: main-api
spec:
  replicas: 3
  selector:
    matchLabels:
      app: main-api
  template:
    metadata:
      labels:
        app: main-api
    spec:
      imagePullSecrets:
        - name: ecr-creds
      containers:
      - name: main-api
        image: 989419672395.dkr.ecr.eu-west-2.amazonaws.com/kantox/challenge:main-api-latest
        imagePullPolicy: Always
        env:
        - name: MAIN_VERSION
          value: "0.0.1"
        - name: AUX_URL
          value: "http://aux-service.aux-service.svc.cluster.local:5000"
        ports:
        - containerPort: 6000
