name: CI/CD Pipeline

on:
  push:
    branches:
      - main
    paths:
      - services/**

jobs:

  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    outputs:
      sha: ${{ steps.vars.outputs.sha }}

    steps:
    - name: Init git Repository
      uses: actions/checkout@v3

    # - name: Debug
    #   run: |
    #     pwd
    #     ls -R

    - name: Get short commit SHA
      id: vars
      run: echo "sha=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT

    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        role-to-assume: ${{ secrets.AWS_OIDC_ROLE_ARN }}
        aws-region: ${{ secrets.AWS_REGION }}

    - name: Login to ECR
      run: |
        aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | \
        docker login --username AWS --password-stdin ${{ secrets.AWS_ECR_URI }}

    - name: Build and push aux-service
      run: |
        docker build -t aux-service ./services/aux-service

        docker tag aux-service:latest ${{ secrets.AWS_ECR_URI }}:aux-service-latest
        docker tag aux-service:latest ${{ secrets.AWS_ECR_URI }}:aux-service-${{ steps.vars.outputs.sha }}

        docker push ${{ secrets.AWS_ECR_URI }}:aux-service-latest
        docker push ${{ secrets.AWS_ECR_URI }}:aux-service-${{ steps.vars.outputs.sha }}

    - name: Build and push main-api
      run: |
        docker build -t main-api ./services/main-api

        docker tag main-api:latest ${{ secrets.AWS_ECR_URI }}:main-api-latest
        docker tag main-api:latest ${{ secrets.AWS_ECR_URI }}:main-api-${{ steps.vars.outputs.sha }}

        docker push ${{ secrets.AWS_ECR_URI }}:main-api-latest
        docker push ${{ secrets.AWS_ECR_URI }}:main-api-${{ steps.vars.outputs.sha }}

  update-manifests:
    runs-on: ubuntu-latest
    needs: build-and-push
    permissions:
      contents: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Update image tags in manifests
      env:
        SHA: ${{ needs.build-and-push.outputs.sha }}
      run: |
        sed -i "s#image: .*aux-service.*#image: ${{ secrets.AWS_ECR_URI }}:aux-service-$SHA#g" kubernetes/deployment-aux.yaml
        sed -i "s#image: .*main-api.*#image: ${{ secrets.AWS_ECR_URI }}:main-api-$SHA#g" kubernetes/deployment-main.yaml

    - name: Commit manifest updates
      run: |
        git config user.name "github-actions"
        git config user.email "github-actions@github.com"

        if git diff --quiet; then
          echo "No changes to commit"
        else
          git add kubernetes/deployment-aux.yaml kubernetes/deployment-main.yaml
          git commit -m "Update image tags to SHA ${{ steps.vars.outputs.sha }}"
          git push
        fi
